body,
html {
    margin: 0;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
}

#container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    background: url('../img/4-jezioro.jpg') no-repeat;
    background-size: cover;
    height: 350px;
    width: 650px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-top: 4px solid #021a40;
    border-bottom: 4px solid #021a40;
    border-left: 4px solid #021a40;
    border-right: 4px solid #021a40;
    opacity: 0;
    transform: translateX(-9px);
    transition: 1s linear;
}

.image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    transform: scaleY(1) translateX(-9px);
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    transition: 1s linear;
}

.image:hover::after {
    transform: scaleY(0) translateX(-9px);
}

.image p {
    text-align: center;
    font-size: 3em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    opacity: 0;
    transform: scale(0);
    transition: 1s linear;
}

.image:hover::before {
    opacity: 1;
}

.image:hover p {
    transform: scale(1);
    opacity: 1;
}